body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular {
  height: 9vh;
  display: flex;
  justify-content: center;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  position: static !important;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #272727;
}
